<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Library
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Library</ion-title>
    </ion-toolbar>
  </ion-header>
   
  <div class="centerTxt">
    <h1 class="Book">Book: {{book}}</h1>
    <p class=""> Autor: {{autor}}</p>
    <br>
</div>
  <ion-grid>
    <ion-row>
      <ion-col><ion-button expand="block" (click)="gotoMyBooks()">Show books</ion-button></ion-col>
      <ion-col><ion-button expand="block" (click)="gotoAddBooks()">add books</ion-button></ion-col>   
    </ion-row>
    <ion-row>
      <ion-col><ion-button expand="block" (click)="gotoUpdateBooks()">update books</ion-button></ion-col>
      <ion-col><ion-button expand="block" (click)="gotoDeleteBooks()">delete books</ion-button></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>